<div class="principal">
    <div class="tabela-resultado-busca">
        <table border="1">
            <tr>
                <th id="dentista">Clinica/Dentista</th>
                <th id="endereco">Endereço</th>
                <th id="cep">CEP</th>
                <th id="complemento">Complemento</th>
                <th id="bairro">Bairro</th>
                <th id="cidade">Cidade</th>
                <th id="estado">Estado</th>
            </tr>
            <tr (click)="consultarDatasHorarios()">
                <td>Três irmãos</td>
                <td>Estrada das Mulatas, 1235</td>
                <td>06704-120</td>
                <td>-</td>
                <td>Portal Santa Paula</td>
                <td>São José do Vale do Rio Preto</td>
                <td>Rio Grande do Norte</td>
            </tr>
        </table>
    </div>
</div>
