<div class="principal">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="dados-dentista">
        <div class="nome">
            <div class="label"></div>
            <strong>Nome:</strong> Três irmãos
        </div>
        <div class="Endereco">
            <strong>Endereço:</strong> Estrada das mulatas, 1235
        </div>
        <div class="cep">
            <strong>CEP:</strong> 06704-120
        </div>
        <div class="complemento">
            <strong>Complemento:</strong> -
        </div>
        <div class="bairro">
            <strong>Bairro:</strong> Portal Santa Paula
        </div>
        <div class="cidade">
            <strong>Cidade:</strong> São José do Vale do Rio Preto
        </div>
        <div class="estado">
            <strong>Estado:</strong> Rio Grande do Norte
        </div>
    </div>
    <div class="texto-explicativo">
        Clique em um dia para verificar a disponibilidade de horário
    </div>
    <div class="agendar">
        <div class="calendario">
            <app-calendario></app-calendario>
        </div>
        <div class="quadro-horarios">
            <div class="data-selecionada">
                Horários disponíveis para: 09 de Março de 2022
            </div>
            <div class="combos">
                <div class="inicio">
                    Das
                </div>
                <div class="select-incio">
                    <select name="horainicio" id="horainicio">
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="15:30">15:30</option>
                        <option value="17:00">17:00</option>
                    </select>
                </div>
                <div class="fim">
                    ás
                </div>
                <div class="select-fim">
                    <select name="horafim" id="horafim">
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:30">17:30</option>
                    </select>
                </div>
            </div>
            <div class="botao-confirmar">
                <button>Confirmar</button>
            </div>
        </div>
    </div>
</div>
