<div class="principal">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="buscadentista">
        <app-busca-dentista></app-busca-dentista>
    </div>
    <div class="resultadobusca">
        <div class="texto-explicativo">
            Resultados da busca, clique na clinica/dentista que deseja realizar o agendamento
        </div>
        <div class="tabela-resultado-busca">
            <app-tabela-resultado-busca-dentista></app-tabela-resultado-busca-dentista>
        </div>
    </div>
</div>
