<div class="calendario">
    <full-calendar [options]="calendarOptions" id="calConsultas"></full-calendar>
</div>
<div class="legendas-agendamentos">
    <div class="maisde50">
        <div class="icone"></div>
        <div class="texto">
            Mais de 50% de horários disponíveis
        </div>
    </div>
    <div class="menosde50">
        <div class="icone"></div>
        <div class="texto">
            Menos de 50% de horários disponíveis
        </div>
    </div>
    <div class="semhorario">
        <div class="icone"></div>
        <div class="texto">
            Sem horários disponíveis
        </div>
    </div>
</div>
