<div class="principal">
    <div class="mesagem">
        Utilize uma das opções abaixo para localizar o dentista mais perto de você:
    </div>
    <div class="opcoesbusca">
        <div class="campos">
            <div class="buscaPorCep">
                <div class="label">
                    CEP:
                </div>
                <div class="input-cep">
                    <input type="text" name="txtCep" id="cep" placeholder="Digite apenas números">
                </div>
            </div>
            <div class="busca-estado">
                <div class="label">
                    Estado:
                </div>
                <div class="input-estado">
                    <select name="Estado" id="estado">
    
                    </select>
                </div>
            </div>
            <div class="busca-cidade">
                <div class="label">
                    Cidade:
                </div>
                <div class="input-cidade">
                    <select name="Cidade" id="cidade">
                        
                    </select>
                </div>
            </div>        
        </div>
        <div class="botao-buscar">
            <button>Buscar</button>
        </div>
    </div>
</div>
