<div class="principal">
    <div class="calendario">
        <full-calendar [options]="calendarOptions" id="calConsultas"></full-calendar>
    </div>
    <div class="legendas-agendamentos">
        <div class="maisde50">
            <div class="icone"></div>
            <div class="texto">
                Mais de 50% de horários disponíveis
            </div>
        </div>
        <div class="menosde50">
            <div class="icone"></div>
            <div class="texto">
                Menos de 50% de horários disponíveis
            </div>
        </div>
        <div class="semhorario">
            <div class="icone"></div>
            <div class="texto">
                Sem horários disponíveis
            </div>
        </div>
    </div>
    <div class="tabela-agendamentos">
        <table border="1">
            <tr>
                <th id="hora">Hora</th>
                <th id="nome-paciente">Paciente</th>
                <th id="contato">Contato</th>
                <th id="obs">Observação/Procedimento</th>
            </tr>
            <tr>
                <td>
                    9:00
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    9:30
                </td>
                <td>
                    Sara Jeniffer Zata de Oliveira Correia
                </td>
                <td>
                    (11) 96394-6243
                </td>
                <td>
                    Olá gostária de saber quanto fica para arrancar o dente do siso e colocar aparel
                </td>
            </tr>
            <tr>
                <td>
                    10:00
                </td>
                <td>
                    Ana Maria Zata Romero de Oliveira
                </td>
                <td>
                    (11) 96394-6243
                </td>
                <td>
                    Orçamento implante dentario
                </td>
            </tr>
            <tr>
                <td>
                    10:30
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    11:00
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    11:30
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    13:00
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    13:30
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    14:00
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    14:30
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    15:00
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    15:30
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    16:00
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    16:30
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    17:00
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
            <tr>
                <td>
                    17:30
                </td>
                <td>
                    Ruben Correia da Silva
                </td>
                <td>
                    (11) 99922-1960
                </td>
                <td>
                    Extração dente do siso
                </td>
            </tr>
        </table>
    </div>
</div>
