@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&family=Roboto:wght@100;700&family=Rum+Raisin&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legenda {
    margin-top: 12px;
}
.conteudo-esquerda {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rum Raisin', "Roboto", sans-serif;
}


.logo-tipo {
    width: 100px;
    height: 84px;
    display: flex;
    justify-content: center;
}

.nome-sistema {
    display: flex;
    font-weight: 400;
    font-size: 64px;
    padding: 12px;
}
.descricao {
    display: flex;
    font-family: 'Roboto Slab',"Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;    
}
.conteudo-direita {
    width: 50%;
    height: 100%;    
    background: linear-gradient(90deg, #56EEE5 48.97%, #56EEE5 54.69%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.conteudo-direita .mensagem {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Rum Raisin', "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/*
.conteudo-direita form {
    align-items: center;
    margin: 18px 0 12px 0;
    padding-top: 12px;
}*/

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 75px;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 32px;
    border-radius: 4px;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #FFF, rgb(204, 191, 191));
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
    color: #FFF;
}
form .esqueceu-senha a{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;    
}
form .esqueceu-senha a:hover{
    color: #4776E6;    
}    
form .esqueceu-senha {
    margin-top: 32px;
}
form .novo-usuario a{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;    
}
form .novo-usuario a:hover{
    color: #4776E6;    
}
form .novo-usuario {
    margin-top: 32px;
    display: flex;
}